<div class="" id="toolbar" style="margin-left: 15%">
  <header [@fallIn]="state">
    <span (click)="back()" class="glyphicon glyphicon-backward"></span>
  </header>
  <div id="page" [@moveInLeft]="state">
    <!--<h4>Заполните данные пользователя {{ auth.auth.displayName }}! </h4>-->
    <div class="contaner">
      <h2>Немного о вас <span class="gipficons"></span></h2>
      <form>

        <div class="form-group">
          <label for="fname">Имя</label>
          <input type="text" class="form-control" id="fname" required>
        </div>

        <div class="form-group">
          <label for="lname">Фамилия</label>
          <input type="text" class="form-control" id="lname" required>
        </div>

        <div class="form-group">
          <label for="mname">Отчество</label>
          <input type="text" class="form-control" id="mname" required>
        </div>

        <div class="form-group">
          <label for='email'>Электронный адрес</label>
          <input type="email" class="form-control" id="email" required>
        </div>
 
        <button type="submit" class="btn btn-success">Сохранить</button>

      </form>

      <div class="providers">
        <span *ngFor="let provider of providers | keys" class="{{provider.value}}">{{provider.key}}</span>
      </div>
    </div>
  </div>