<div class="form-container">

  <!--<img src="assets/images/lock.svg" alt="lock">-->

  <div class="lock"></div>

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFacebook()" id="fb">Войти через Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Войти через Google</button><br>
  <button (click)="loginTwitter()" id="twitter">Войти через Twitter</button><br>
  <button routerLink="/login-email" id="email">Войти через login/email</button><br>

  <a routerLink="/signup" routerLinkActive="active" class="alc">
    Нет регистрации? 
    <strong> Зарегистрируйтесь здесь!</strong>
  </a>

</div>